

.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.nav-title{
    color: #0E0E0E;
    font-weight: bold;
}
nav li a button{
  font-weight: 600;
  font-size: 14px;
  color:#51aa94
  padding : 15px ,30px;
  border-radius: 8px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin:30px 60px;

  
}
nav li{
  list-style: none;
  color: #006A50;
}
.banner-title{
  font-size: medium;
  font-weight: bolder;
  color: #0E0E0E;
  filter: drop-shadow

}
.background-image{

}
div {
  display: flex;
  justify-content: space-between;
  margin: 100px ,80px;
  
}
div img{
  width: 400px;
  height: 350px;
 
}
.banner{
  margin:40px 20px;
  font-weight: 600 200;
}
.background{
  background-color: #C6E4D6;
  margin:40px 60px ;
  border-radius: 24px;
  
  
  
}
.button{
  font-weight: 200 ;
  padding:15px 30px;
  border-radius: 8px;
  border: none;
  background-color: #006A50;
  color: #FFFFFF;
}
.banner-description{
  line-height: auto;
  margin:0px 16px 20px 0px ;
  font-weight: bold;
  font-size: 60px;
}

.about-item a {
  text-decoration: none;
  background-color:
  color;
  padding:;
  border-radius:
  font-size:
}

  section ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    display: inline-block: 300px 200px
    padding: 10px

  }
  .first-box{
    background-color:#81B4FC;
    background-size: 50px 50px ;
    border-radius: 10px;
   margin: 10px 15px ;

  }
  .first-description{
    font-size: 16px;

  }
  .first-button{
   background-color:#5490F5 ;
   border: none;
   color: #FFFFFF;
   padding: 4px 10px;
  }
  .second-box{
    background-color:#C6E4D6;
    margin: 10px 15px ;
    border-radius: 10px;
    background-size: 50px 50px;
  }
  .second-button{
    background-color:#09A15C ;
    border: none;
    color: #FFFFFF;
    padding: 4px 10px;
  }
  .third-box{
    background-color: #FFF7DF;
    margin: 10px 15px ;
    border-radius: 10px;
    background-size: 50px 50px;
  }
  .third-button{
    background-color: #FFD55D;
    border: none;
    color: #FFFFFF;
    padding: 4px 10px;
  }
  section ul li{
    margin: 10px 5px;
    padding: 20px 20px;
    justify-content:space-around;
    align-items: center;
  }
  .section-title{
    margin:10px 5px ;
    padding: 10px 20px;
  }
 .section-description{
  margin:10px 5px ;
  padding: ;10px 20px
 }
 .younus
 {
  background-color: hsl(231, 30%, 92%);
  background-image:url( ../assets/quote-bg.png);
  background-repeat: no-repeat;
  padding: 32px 32px;
  background-position: top left;
  margin: 20px 10px;
  background-position: 2% 30%;
 }
 .read-button{
  background-color: #006A50;
  color: #FFFFFF;
  margin: 10px 15px ;
  border-radius: 8px;
  padding: 11px 20px;
  border: none;
 }
 .statelite{
  margin: 100px 50px;
  background-color: hsla(0, 10%, 94%, 0.838);
  border-radius: 8px;
 }
.pic{
  border-bottom: 24px;
}
.donation{
  margin: auto;
  text-align: center;
  font-size: xx-large;
}
.para{
  text-align: center;
}
.money{
  margin: 20px 300px;
 
}
.taka{
  background-color: #C6E4D6;
  padding: 30px 60px;
  border-radius: 10px;
  font-weight: 200px;
  
}
.taka-s{
  background-color: #e5e9e7;
  padding: 30px 60px;
  border-radius: 10px;
  font-weight: 200px;
}
.finish{
  color: #FFFFFF;
  margin: 0 auto;
  border-radius: 8px;
  padding: 11px 20px;
  border: none; 
  transform: translateY(-50%);
  text-align: center;
  background-color: #006A50;
 
}
.sesh{
text-align: center;
padding: 100px;
}
.hope-last{
  background-color: #C6E4D6;
  color: #1f0202;
  margin: 10px 15px ;
  border-radius: 8px;
  padding: 11px 20px;
  border: 100px; 
  text-align: center;
}
.okey{
margin: auto;
border:40px 20px ;
background-color: #e5e9e7;
}
.mid{
  background-color: #FFFFFF;
  margin: auto;
  padding: 20px;
}
